{{> nav}}

<div class="row">
  <h5>{{form.title}}</h5>
  <form data-abide novalidate method="POST" action="{{{form.action}}}">
    <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> Some fields are invalid.</p>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>Name <span class="required">*</span>
          <input type="text" placeholder="Eg. junkiri-n1"  required name="name" value="{{form.value.name}}" pattern="^[a-z]+-[n]{1}[0-9]+">
          <span class="form-error">
            Please enter valid NodeMCU name. Pattern: name-nX
          </span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>IP Address <span class="required">*</span>
          <input type="text" placeholder="Eg. 10.10.10.183" required name="ip" value="{{form.value.ip}}" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$">
          <span class="form-error">
            Please enter valid NodeMCU IP address.
          </span>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>MAC Address <span class="required">*</span>
          <input type="text" placeholder="Eg. b8:70:f4:6f:66:15" required name="mac" value="{{form.value.mac}}" pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$">
          <span class="form-error">
            Please enter valid NodeMCU MAC address.
          </span>
        </label>
      </div>
    </div>
    <script>
    </script>
    <div class="row">
      <div class="medium-6 columns">
        <label>Used pins <span class="required">*</span>
          <select name="pin" size="3" required multiple>
            {{#each form.option.pin}}
              <option
                {{#ifIn this ../form.value.pin}} selected {{/ifIn}}
                >{{this}}</option>
            {{/each}}
          </select>
          <span class="form-error">
            Please select pins used.
          </span>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Node area <span class="required">*</span>
          <textarea rows="3" name="description" required>{{form.value.description}}</textarea>
          <span class="form-error">
            Please enter area where NodeMCU is placed.
          </span>
        </label>
      </div>
    </div>
    <div class="row">
      <fieldset class="medium-6 columns">
        <button class="button" type="submit" value="Submit">{{form.submit}}</button>
      </fieldset>
    </div>
  </form>
</div>
