{{> nav}}

<script>
</script>

<div class="row">
  <h3>Switches</h3>
  <a href="{{addUrl}}">Add</a>
</div>

<div class="row">
  {{>callout this}}
  <table id="switches">
    <thead>
      <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Floor</th>
        <th>Node</th>
        <th>Pin</th>
        <th>Alive</th>
        <th>Action</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Floor</th>
        <th>Node</th>
        <th>Pin</th>
        <th>Alive</th>
        <th>Action</th>
      </tr>
    </tfoot>
    <tbody>
      {{#each index}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.area}}</td>
        <td>{{this.floor}}</td>
        <td>{{this.node}}</td>
        <td>{{this.pin}}</td>
        <td>{{#ifEq this.alive 0}}No{{/ifEq}}{{#ifEq this.alive 1}}Yes{{/ifEq}}</td>
        <td>
          <a href="{{../url}}/{{this.id}}/edit" class="tiny button">Edit</a>
          <a  data-name="{{this.name}}" data-href="{{../url}}/{{this.id}}?_method=DELETE" data-open="alert-modal" href="#" class="tiny hasreveal alert button confirm">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="reveal" id="alert-modal" data-reveal>
  <form method="POST" action="" id="delete-form">
    <h3>Confirm Delete</h3>
    <p>Are you sure want to delete <strong id="name"></strong>?</p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="row float-right">
    <input type="hidden" name="_method" value="DELETE">
    <button class="alert button" href="#">Delete</button>
    <button class="secondary hollow button" data-close aria-label="Close modal" type="button">Cancel</button>
    </div>
  </form>
</div>

<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.dataTables.columnFilter.js" type="text/javascript"></script>

<script>
  $(document).ready(function() {
    var table = $('#switches').dataTable({
      paging: true,
      sPaginationType: 'full_numbers',
      dom: '\
          <"row"\
            <"medium-3 column">\
          >\
          <"clearfix">\
          <t>\
            <"row"\
              <"medium-4 column"i>\
              <"medium-8 column text-right"p>\
            >\
          ',
    });
    table.api().search('').draw();

    var area = {{{json areas}}}

    table.columnFilter({
      aoColumns: [
       {type: 'text'},
       {type: 'select', values: {{{json areas}}} },
       {type: 'select', values: {{{json floors}}} },
       {type: 'select', values: {{{json nodes}}} },
       {type: 'number'},
       {type: 'select', values: {{{json alive}}} },
      ]
    });
  });

  var name;
  var href;

  $('.confirm').click(function (e){
    name = $(this).data('name');
    href = $(this).data('href');
  });

  $('#alert-modal').on('closeme.zf.reveal', function(e) {
    $(this).find('#name').html(name);
    $('#delete-form').attr('action', href);
  });
</script>
